html {
	font-size: 18px;
	font-family: Helvetica;
}

.container {
	width: 960px;
}

.company {
	background-color: black;
}

.company .container {
	display: flex;
	align-items: center;
	color: white;
	padding: 0.66rem;
}

.company img {
	height: 1.5rem;
	padding: 0 1rem 0 0.5rem;
}